.history
*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
checkpoints/
.vscode/
.DS_Store
.cache
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
.idea/
.settings
/lib/
build/
*.tfrecord
*.index
*.tar
*.ckpt
.history
*.dat
checkpoint/
log/
#train_log/
plot_log/
print_output/
nohup.out
train_log
test
__pycache__/
*.py[cod]
*$py.class
nohup.*
train_log_*

